/* Navbar*/

#navbarSupportedContent{
    justify-content: end;
    }
.navbar-brand{
    height: 6rem;
    }

    .nav-link{
        border: 1px solid black !important;
        border-radius: 5px;
        margin: 2px;
        background-color: #B8D4E3;
    }
/*Slide*/

.slide{
    height: 7rem;
    background-color: #FAAA8D;
    text-decoration: none;
    text-align: center !important;
    justify-content: space-between !important;
}
.slide>a>{
    text-decoration: none !important;
    text-align: center;
    font-size: 1rem;
}
/*Form Checkbox*/
form{
    margin: 1rem;
}
.form-check{
    display: inline-block !important;
   }

/*Cards*/
.cards>div{
    display: inline-block !important;
    margin: 1rem;
}

/*Contact*/
.contact{
    display: flex !important;
    flex-direction: column;
}
/*Details*/

/*Stats*/
table{   
    border: 3px solid black;
    margin: 2rem;
    width: 80vw;
   }
   thead{
    background-color: gray;
    text-align: left;
    border: 1px solid black;
   }
   tbody{
    border: 1px solid black !important;
   }

   tr,th,td{
    padding: 1rem;
    border: 1px solid black
   }

   /*Footer*/
footer{
    height: 6rem;
    background-color: #FAAA8D;
    padding: 5px;
}
.footer{
    display: flex !important;
    justify-content: space-between;
    font-size: 2rem;
 }


